{% extends '@!EasyAdmin/layout.html.twig' %}

{% block header_logo %}
    <a class="logo" title="{{ ea.dashboardTitle|striptags }}" href="{{ path('app_index') }}">
        <img class="logo__img"
                src="assets/Images/logo.png"
             alt="{{ ea.dashboardTitle|striptags }}">
    </a>
{% endblock header_logo %}
