{% extends '@!EasyAdmin/layout.html.twig' %}

{% block header_logo %}
    <a class="logo" title="{{ ea.dashboardTitle|striptags }}" href="{{ path('app_index') }}">
        <img class="logo__img"
             src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpngtree.com%2Ffree-png-vectors%2Fuser-avatar&psig=AOvVaw1ybQZK5rItCFEv7N0GT6Qg&ust=1683504011113000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCOixmqbz4f4CFQAAAAAdAAAAABAE"
             alt="{{ ea.dashboardTitle|striptags }}">
    </a>
{% endblock header_logo %}
