
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

h1 {
    letter-spacing: 1px;
    line-height: 0.8;
    color: #130550;
    text-shadow: 0.5px 0.5px 0.5px #000e46;
    font-size: 40px !important;
}

body {
    background-image: url("../Images/sky.jpg");
    background-size: cover;
    background-position: top;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.66);
    background-blend-mode: overlay;
    position: relative;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}

.responsive-header, .sidebar {
    background-color: rgba(0, 98, 149, 0.4);
    margin-left: -16px;
    margin-right: 16px;
}

.content {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 130vh;
    background-color: white;
    padding: 50px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: -50px;
    border-radius: 10px;
}

.content-header {
    background-color: white;
}

#sidebar-resizer-handler {
    right: 15px;
}

td.field-text {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content-top {
    background-color: rgba(0, 98, 149, 0.4);
    margin-left: -16px;
    margin-right: -16px;
}

.datagrid tbody tr:hover td, .datagrid tbody tr:nth-child(odd):hover {
    background-color: #E0E0E0 !important;
}

.datagrid tbody tr:hover td, .datagrid tbody tr:nth-child(even):hover {
    background-color: transparent !important;
}

table {
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid gray;
    padding: 8px;
    height: 50px;
}

table tr:nth-child(odd) td {
    background-color: #E0E0E0;
}

.dropdown-settings {
    display: none;
}

