/* Start of Navbar */
a{
    color: white;
}
.navbar {
    background-color: rgba(0, 98, 149, 0.4);
}

.nav-item:hover .nav-link {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.avatar {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
    border: 0.15rem solid rgba(0, 98, 149, 0.7);
}

.nav-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navbar-brand img {
    width: 100%;
    height: 70px;
    margin-top: -20px;
    margin-bottom: -20px;
    padding: -3vh;
}

/* start notification section */
.notifications-item {
    text-decoration: none;
}
.notifications-item-unread {
    background-color: #f1f9fc
}

#bell{
    margin-right: 60px;
    margin-top: -0.3rem;
    font-size: 20px;
}
#bell span{
    background: #f00;
    padding: 7px;
    border-radius: 50%;
    color: #fff;
    vertical-align: top;
    margin-left: -25px
}
#bell i{
    display: block;
}


.notifications{
    width: 300px;
    height: 0px;
    opacity: 0;
    position: absolute;
    top: 76px;
    right: 100px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height: 300px;
    overflow-y: scroll;
}

.notifications::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

.notification-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}

.notifications h2{
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #fff;
    color: #999
}
.notifications h2 span{
    color: #f00
}
.notifications-item{
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 6px 9px;
    margin-bottom: 0px;
    cursor: pointer
}

.notifications-item img{
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 9px;
    border-radius: 50%;
    margin-top: 2px
}
.notifications-item .text h4{
    color: #777;
    font-size: 16px;
    margin-top: 3px
}
.notifications-item .text p{
    color: #aaa;
    font-size: 12px
}

/*end notification section */

.nav__profile {
    cursor: pointer;
}

.nav__profile ul {
    list-style-type: none;
    position: absolute;
    top: 125%;
    right: 0;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    width: 200px;

}

.nav__profile ul li a {
    padding: 1rem;
    display: block;
    width: 100%;
    text-decoration: none;
}

.nav__profile ul li a:hover:last-child {
    background: rgba(0, 98, 149, 0.4);
    color: darkblue;
}

.dropdown-menu {
    background-color: rgba(0, 98, 149, 0.4);
}


/*show nav ul when hover*/
.nav__profile:hover > ul {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 768px){
    .nav-item:hover .nav-link {
        transform: none;
    }

    .avatar {
        width: 2.5rem;
        height: 2.5rem;
    }

    .nav__profile ul {
        width: 150px;
        padding: 0.5rem;
    }

    .nav__profile ul li a:hover:last-child {
        background: var(--main-nav-profile-bg-color);
        color: var(--main-nav-link-hover-color);
    }
    .notifications{
        width: 220px;
        height: 0px;
        opacity: 0;
        position: absolute;
        top: 100px;
        right: 400px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        max-height: 300px;
        overflow-y: scroll;
    }
}
.dropdown-menu .dropdown-user-details {
    align-items: flex-start;
    display: flex;
    padding: 0 10px;
    color: white;
    font-style: italic;
}
/* End of Navbar */