:root {
    --main-font-family: "Nunito", sans-serif;
    --main-color: #02669A;
    --main-bg-color: rgb(211, 240, 251);
    --main-border-radius: 20px;
    --main-transition: 0.3s ease;
    --main-nav-bg-color: rgba(0, 98, 149, 0.4);
    --main-nav-link-color: white;
    --main-nav-link-hover-color: darkblue;
    --main-nav-profile-bg-color: rgba(0, 95, 149, 0.4);
    --main-nav-profile-link-bg-color: rgba(105, 169, 215, 0.4);
    --main-hover-animation: pulse 1s infinite;
    --main-boxshadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

body {
    font-family: var(--main-font-family);
    scroll-behavior: smooth;
    background: var(--main-bg-color);
    margin-bottom: 0px;
}

h1 {
    font-size: 45px;
    font-weight: bolder;
    color: var(--main-nav-link-color);
}

.angle {
    color: white;
}

#OwnerImage {
    height: 50px;
    object-fit: cover;
    width: 50px;
    border-radius: 50%;
}

.swiper-slide {
    overflow: hidden;
    border-radius: var(--main-border-radius);
    height: 350px;
    width: 250px;

}

.alert-success {
    text-align: center;
    color: white;
    background-color: rgba(0, 98, 149, 0.6);
    width: 40rem;
    margin-left: 28rem
}

.main-header {
    background: url("../Images/djerba2.jpg") center / cover no-repeat;
    height: 100vh;
    overflow: hidden;
}

.main-header .container {
    margin-left: 50px;
    margin-top: 9vh;
}

.fa-solid.fa-angles-down {
    font-size: 25px;
    color: var(--main-nav-link-color);
}

.text-center.link-icon {
    margin-top: 5vh;
    padding: -50px;
}

.header-elements {
    margin-bottom: 5vh;
}

.section-title {
    color: var(--main-color);
}

/* Start Discover */

.slide-container {
    max-width: 1120px;
    width: 200vh;
    padding: 40px 0;
    margin-bottom: 100px;

}

.swiper-wrapper {
    margin: 10px 10px;

}

.slide-content {
    margin: 0 30px;
    overflow: hidden;
    border-radius: 25px;
}

.cards {
    border-radius: 25px;
    background-color: var(--main-nav-link-color);
    height: 70vh;
    box-shadow: var(--main-boxshadow);
    max-width: 330px;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;

}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 0 0;
    height: 40vh;
}

.image-content img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.btn-square {
    border-radius: 0;
    width: 2.5em;
    height: 2.5em;
    padding: 0;
}

.btn-square .bi {
    width: 1.5em;
    height: 1.5em;
}

.name, .date, .LikeCounter {
    font-size: 14px;
    font-weight: 500;
    color: #707070;
    text-align: left;
    margin: 5px;
}

.LikeCounter {
    font-size: 14px;
    text-align: center;
    color: #333;
    margin-top: 5px;
}

.LikeBtn,
.LikeCounter {
    display: flex;
    align-items: center;
}

.description {
    font-size: 14px;
    text-align: left;
    color: #333;
    margin-bottom: 20px;
    width: 270px;
    height: 65px;
    /* if the paragraph exceed 3 lines the overflow is hidden and replaced by elllipsis  */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to display */
    overflow-wrap: break-word;
}


.swiper-navBtn {
    color: var(--main-color);
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #b8c1d6;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: var(--main-color);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #b8c1d6;
}

.div-container {
    max-width: 200px;
}

.HR-LINE-Discover {
    width: 128px;
    padding-right: 0;
    margin-right: -48px;
    padding-left: 108px;
    margin-left: 589px;
    margin-bottom: 11px;
}

.text-center {
    margin: 0;
    margin-top: 30px!important;
}

/* End Discover */


/* Define the hover effect */
.img-hover-pulse:hover {
    animation: pulse 1s;
}

/* Define the pulse animation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.About-us .container .row, .text-center, .header-elements, .image-About {
    margin-top:100px;
}

/* Start of About Us Section */
.about-us-container {
    height: 500px;
}

.about-us-row {
    margin-top: 50px;
    margin-left: 170px
}

.about-us-text {
    margin-top: 7vh;
}

.image-About {
    background-color: white;
    border-radius: var(--main-border-radius);
    background-size: cover;
    background-position: top center;
    height: 59vh;
    margin-top: 0vh;
    display: flex;
    justify-content: center;
    box-shadow: var(--main-boxshadow);
}

#thedreamer {
    width: 300px;
    height: 422px;
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-boxshadow);
}

.about-us-img {
    text-align: center;
    position: relative;
    height: 50vh;
}

.about-us-img::before {
    content: "";
    width: 300px;
    height: 400px;
    background-color: #b8c1d6;
    position: absolute;
    right: 75px;
    z-index: -1;
    top: -45px;
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-boxshadow);

}

.HR-LINE-About {
    width: 128px;
    padding-right: 0;
    margin-right: -48px;
    padding-left: 114px;
    margin-left: 216px;
    margin-bottom: 24px;
}

/* End of About Us Section */

@media only screen and (max-width: 768px) {
    .main-header .container {
        margin-left: 20px;
        margin-top: 8vh;
    }

    .text-center.link-icon {
        margin-top: 3vh;
    }

    .header-elements {
        margin-bottom: 3vh;
    }

    .slide-container {
        max-width: 100%;
        width: auto;
        padding: 20px 0;
    }

    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }

    .about-us-img::before {
        width: 200px;
        height: 300px;
        right: 50px;
        top: -35px;
    }

    .about-us-row {
        margin-left: 10px;
    }

    .about-us-text {
        margin-top: 1vh;
    }

    .image-About {
        width: 100%;
        height: 100%;
        max-width: 100%;
        flex-basis: 100%;
    }

    .about-us-img::before {
        height: 0px;
        right: 0px;
        top: 0px;
    }

    #thedreamer {
      display: none;
    }

    .HR-LINE-About {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 996px) {
    #namedate{
        margin-left: -80px;
    }
    .image-About {
        width: 60%;
        max-height: 100%;
        max-width: 85%;
        flex-basis: 100%;
        margin-left: -150px;
    }

    .about-us-text {
        margin-top: 1vh;
    }

    .about-us-img::before {
        width: 230px;
        height: 340px;
        right: -40px;
        top: -10px;
    }

    #thedreamer {
        width: 400px;
        height: 350px;
        border-radius: var(--main-border-radius);
        margin-right: 10px;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 996px) and (max-width: 1200px) {
    #namedate{
        margin-left: 0px;
    }

    .image-About {
        width: 60%;
        max-height: 50%;
        max-width: 80%;
        flex-basis: 100%;
        margin-left: -150px;
    }

    .about-us-text {
        margin-top: 8vh;
    }

    .about-us-img::before {
        width: 280px;
        height: 340px;
        right: -40px;
        top: -10px;
    }

    #thedreamer {
        width: 400px;
        height: 350px;
        border-radius: var(--main-border-radius);
        margin-right: 10px;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1290px) {
    .image-About {
        width: 40%;
        max-height: 30%;
        max-width: 60%;
        flex-basis: 100%;
        margin-left: -120px;
    }

    .about-us-text {
        margin-top: 8vh;
    }

    .about-us-img::before {
        width: 290px;
        height: 340px;
        right: 60px;
        top: -15px;
    }

    #thedreamer {
        width: 300px;
        height: 350px;
        border-radius: var(--main-border-radius);
        margin-left: -40px;
        margin-top: 30px;
    }
}

